* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(167, 177, 194);
}

li {
    padding-left: 30px;
    height: 70px;
    line-height: 70px;
}

li:hover {
    background-color: rgb(39, 44, 53);
}

a {
    text-decoration: none;
    color: rgb(167, 177, 194);
}

a:visited {
    color: rgb(167, 177, 194);
}