* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(167, 177, 194);
}

li {
    padding-left: 30px;
    height: 70px;
    line-height: 70px;
}

li:hover {
    background-color: rgb(39, 44, 53);
}

a {
    text-decoration: none;
    color: rgb(167, 177, 194);
}

a:visited {
    color: rgb(167, 177, 194);
}

input[type = text] {
    width: 400px;
    height: 40px;
    background-color: #eeeeee;
    border: 0px;
    margin-left: 30px;
    padding-left: 10px;
}

input[type = password] {
    width: 400px;
    height: 40px;
    background-color: #eeeeee;
    border: 0px;
    margin-left: 30px;
    padding-left: 10px;
}

input[type = submit] {
    width: 150px;
    height: 40px;
    border: 0px;
    font-size: 20px;
    color: white;
}