* {
    margin: 0;
    padding: 0;
}

div {
    box-shadow: 1px 1px 1px 1px rgb(236, 236, 236);
}

div div {
    float: left;
}

.bottom > ul {
    list-style: none;
    width: 630px;
    height: 74px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 38px;
    margin-top: 27px;
}

li {
    background-color: rgb(242, 242, 242);
    width: 189px;
    height: 74px;
    float: left;
    text-align: center;
    line-height: 74px;
    margin-right: 20px;
}

input[type=text] {
    width: 544px;
    height: 45px;
    padding-left: 15px;
    font-size: 20px;
    background-color: rgb(250, 250, 250);
    border: 0;
    box-shadow: 1px 1px 1px 1px rgb(236, 236, 236);
}

input[type=password] {
    width: 544px;
    height: 45px;
    padding-left: 15px;
    font-size: 20px;
    background-color: rgb(250, 250, 250);
    border: 0;
    box-shadow: 1px 1px 1px 1px rgb(236, 236, 236);
}

td {
    font-weight: bold;
    font-size: 18px;
}

table {
    margin-left: 75px;
    margin-top: 43px;
}

span {
    color: red;
}